In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('temp.csv',sep=',')

In [18]:
df.apply(lambda row: sorted(row, reverse=False), axis=1)

0     [0.907793574, 0.917723824, 0.927543269, 0.9319...
1     [0.894655912, 0.900698027, 0.903488184, 0.9066...
2     [0.891691755, 0.929008449, 0.946125085, 0.9621...
3     [0.982384202, 0.988710167, 0.991744901, 0.9923...
4     [0.647113022, 0.661279177, 0.67023517, 0.68396...
5     [0.704545455, 0.712070025, 0.717854218, 0.7205...
6     [0.746314496, 0.757985258, 0.758445946, 0.7590...
7     [0.851048801, 0.873775375, 0.894597832, 0.9199...
8     [0.856444444, 0.880833333, 0.891142857, 0.9023...
9     [0.783925926, 0.813958333, 0.820428571, 0.8397...
10    [0.856933333, 0.863466667, 0.8856, 0.9089, 0.9...
11    [0.988833333, 0.990296296, 0.991055556, 0.9915...
dtype: object

In [19]:
df

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,0.941719,0.940755,0.940110,0.937299,0.933330,0.931976,0.927543,0.917724,0.907794
1,0.917678,0.919874,0.913564,0.913323,0.907740,0.903488,0.906628,0.900698,0.894656
2,0.999539,0.999369,0.999029,0.999830,0.891692,0.929008,0.946125,0.962101,0.980528
3,0.999029,0.996844,0.996682,0.994416,0.996795,0.991745,0.992335,0.988710,0.982384
4,0.722052,0.726658,0.714271,0.707386,0.696990,0.683968,0.670235,0.661279,0.647113
5,0.704545,0.712070,0.717854,0.720593,0.725246,0.730856,0.733635,0.742399,0.749352
6,0.746314,0.759060,0.759316,0.758446,0.761364,0.759265,0.760091,0.757985,0.759692
7,0.997604,0.998618,0.997850,0.851049,0.873775,0.894598,0.919966,0.942477,0.967139
8,0.916000,0.919833,0.917889,0.911583,0.911200,0.902389,0.891143,0.880833,0.856444
9,0.854667,0.861667,0.856667,0.852667,0.843933,0.839722,0.820429,0.813958,0.783926
10,0.998833,0.999767,0.992100,0.856933,0.863467,0.885600,0.908900,0.930333,0.950533
11,0.992333,0.993333,0.992667,0.992083,0.991533,0.991056,0.992952,0.988833,0.990296

In [ ]:
写一个方法， 参数：df:DataFrame,row_no: 行号，int，diff：减去的值
将这一行的值都减去diff
返回DataFrame

In [10]:
df.to_csv('temp.csv',index=None)